// -----Ich entschuldige mich jetzt schonmal, ich habe einen Tag erwischt an dem ich mich einfach nicht konzentrieren kann.
// ------Das hintergrundbild habe ich wissentlich weggelassen da ich nicht wusste was ich dafür nehmen soll. 
// ------Wie ich ein Hintergrundbild einfüge, es sich nicht wiederholen lasse etc. weiß ich. 
// ------Dafür habe ich eine kleine Animation eingebaut.

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 62.5%;
}
// --------------auf Variablen habe ich ausnahmsweise mal verzichtet
// ------------zum besser arbeiten werte gegeben
img{
    width: 300px;
    aspect-ratio: 1;
    object-fit: cover;
}
// --------------------------------------------------
header{
    background-color: rgb(168, 168, 168);
    padding: 2rem;
    width: 100vw;
    display: flex;
    // gap: 0 30em;
    justify-content: space-between;
    align-items: center;
    // outline: 1px solid red;
    img{
        width: 10em;
        aspect-ratio: 1;
        object-fit: cover;
        border-radius: 50%;
    }
    nav{
        
        ul{
            display: flex;
            justify-content: space-evenly;
            gap: 0 3em;
            list-style-type: none;
            li{
                &:hover{
                    ul{
                        display: block;
                    }
                }
                position: relative;
                ul{
                    display: none;
                    position: absolute;
                    top: 100%;
                    

                }
                a{
                    text-decoration: none;
                    font-size: 1.5rem;
                    
                }

            }
        }
    }
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
        text-align: center;
        padding: 3em;
    }
.card-container{
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 2rem;
    
}
.card{
    background-color: black;
    width: 20vw;
    height: 25vh;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem 0;
    img{
        width: 80%;
        object-fit: cover;
    }
    h3{
        color: white;
        font-size: 2rem;
        text-align: center;
    }
    &:hover{
        animation: cards 1s;
    }
}
@keyframes cards{
    from{
        scale: 1;
    }
    to{
        scale: 1.1;
    }
}
// ------------------------------------
.contact-form {
    margin-top: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(80, 79, 79);
  max-width: fit-content;
  padding: 1em 3em;
  border: 3px double silver;
  border-radius: 20px;
  /* ------------------------ */
  form {
    display: flex;
    flex-direction: column;
    /* ------------------------------- */
    label {
      display: flex;
      flex-direction: column;
      margin: 1em;
      /* ----------------------------- */
      input {
        font-size: 1.1rem;
      }
    }
    /* ------------------------------- */
    button {
      margin-top: 1em;
      padding: 0.5rem 1rem;
      border: 2px solid black;
      border-radius: 10px;
      /* % bei Radius besser für Kreise als Rechtecke */
    }
    button:hover {
      color: white;
      background-color: black;
    }
    /* ---------------------------------- */
  }
}